.square_move_button {
    color: #fff;
    position: relative;
    padding: 0.8em 1.3em;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }

.square_move_button::after, .square_move_button::before {
  content: "";
  display: block;
  position: absolute;
  width: 12%;
  height: 20%;
  border: 1px solid;
  transition: all 0.4s ease;
  border-radius: 2px;
}

.square_move_button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.square_move_button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #fff;
  border-left-color: #fff;
}
.square_move_button:hover:after, .square_move_button:hover:before {
  width: 100%;
  height: 100%;
}